// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#root{
    height: 100%;
}
html{
    height: 100%;
}
body{
    color: #333;
    font-size: 14px;
    font-family: "Open Sans", Sans-Serif;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    background-color: #222;
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
    color: #e2e2e2;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-wrapper{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.content-wrapper{
    background-color: #F4F4F4;
}
.header{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    .logo{
        max-width: 170px;
        width: 100%;
        display: block;
    }
    a{
        color: #777;
        transition: color .3s;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
            color: #00BFF3;
        }
    }
    nav{
        margin-left: 10px;
        display: flex;
        align-items: center;
        a{
            & + a{
                margin-left: 20px;
            }
        }
    }
    .login-nav{
        margin-left: auto;
        display: flex;
        align-items: center;
        a{
            & + a{
                margin-left: 20px;
            }
        }
    }
}
.posts{
    display: flex;
    flex-direction: column;
    width: 65%;
    .post{
        background-color: #fff;
        & + .post{
            margin-top: 30px;
        }
        &-content{
            padding: 10px 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-image{
            width: 100%;
            display: block;
            img{
                display: block;
                object-fit: cover;
                width: 100%;
                max-height: 300px;
                height: 100%;
            }
        }
        &-category{
            color: #00acdf;
            font-size: 10px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        &-title{
            color: #777;
            transition: color .3s;
            font-size: 24px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                color: #00BFF3;
            }
        }
        &-preDescription,
        &-description{
            font-size: 14px;
            margin-bottom: 10px;
        }
        &-continue__reading{
            font-size: 12px;
            padding: 10px 20px;
            margin: 24px 0 28px;
            display: inline-block;
            color: #00BFF3;
            border: 1px solid #eee;
            transition: all 0.5s;
            &:hover{
                background: #00BFF3;
                color: #fff;
                border-color: #00BFF3;
            }
        }
        &-footer{
            border-top: 1px solid #eee;
            padding-top: 15px;
        }
    }
}
